.back-to-top {
  display: block;
  padding: 4px 10px;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 12px;
  font-weight: 500;
  color: #999;
}
/*
 * navigation
 *
 */
.docs-nav {
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 0;
}
